#inner-layout
{
	max-width: $row-width;
	margin: 0 auto;
	background: #fff;
	border-top: 5px solid $primary-color;
}

.row
{
	padding: 10px 20px 20px;
}

header.masthead
{
	padding: 0 20px;
	margin-bottom: 20px;
	border-bottom: 3px solid $primary-color;
	text-transform: uppercase;

	.logo, nav.primary
	{
		display: inline-block;
		vertical-align: bottom;
		margin: 30px 0;
	}

	.logo
	{
		width: 300px;
		height: 70px;
		padding: 0;
		img
		{
			border: 0;
		}
	}

  nav.primary
  {
    a
    {
      color: $text-color;
      &:hover, &.current
      {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}

main
{
	.inner
	{
		padding: 0 10px;
	}
}

aside.sidebar
{
	padding-top: 10px;
	background: $off-white;
	.row
	{
		padding-left: 0;
	}
}

footer.row
{
	padding-top: 20px;
	.contact .row
	{
		padding: 0;
	}
}